body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.texto-controle {
    color: #5664f5;
    font-weight: bolder;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f8ff;
    
}

.card-header {
    background-color: #5664f5;
    color: white;
    border-radius: 8px 8px 0 0;
    font-weight: bolder;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

.card-body {
    box-shadow: 2px 2px 3px black;
    padding: 15px;
    background-color: #e9ecef;
    font-size: 16px;
}

.botao-ver {
    background-color: #c4c5d4;
    color: white;
    box-shadow: -2px 1px 2px black;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    
}

.badge {
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.inclusao {
    background-color: #007AFF;
    width: 100%;
    display: block;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.espaca {
    margin-bottom: 10px;
    height: 10px;
}

.btn.filtro, .btn.trofeu, .btn.dados {
    background-size: 30px 30px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
    background-color: transparent;
    border: none;
}

.btn.filtro {
    background-image: url("/icons_imagem/filtro.png");
}

.btn.trofeu {
    background-image: url("/icons_imagem/troféu.png");
}

.btn.dados {
    background-image: url("/icons_imagem/estatiticas.png");
}

.fundo {
    background-color: #5664f5 !important;
    background-image: url("/icons_imagem/taskvega6.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px auto;
}

.botao-quadro {
    background-color: #5664f5;
    color: rgb(255, 249, 249);
    box-shadow: 2px 1px 1px black;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.teste {
    background-image: url("/icons_imagem/opcao.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    min-width: 25px;
    min-height: 25px;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item span {
    color: #5664f5;
}

.task-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

.task-item.done span {
    color: #000000;
}

.task-item.done input[type="checkbox"] {
    border: 2px solid red;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.trash-icon {
    background-image: url("/icons_imagem/trash.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: invert(21%) sepia(92%) saturate(7494%) hue-rotate(1deg) brightness(96%) contrast(98%);
}

.task-title {
    color: #800080;
    cursor: pointer;
    text-decoration: none;
}

.text-custom {
    color: #ffffff;
    font-weight: bolder;
    font-size: 16px;
}

.text-custom1 {
    color: #ff0000;
    font-weight: bolder;
    font-size: 16px;
}

@media (max-width: 768px) {
    .card {
        margin: 10px;
        padding: 10px;
    }
    .botao-ver, .botao-quadro {
        font-size: 16px;
        padding: 5px 10px;
    }
    .inclusao {
        padding: 5px 0;
    }
    .btn.filtro, .btn.trofeu, .btn.dados {
        width: 40px;
        height: 40px;
        background-size: 25px 25px;
    }
}