.container-fluid {
    padding: 0;
    background: linear-gradient(to bottom, #5664f5, #8c94ff, #d1d5ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-section {
    background-color: #d0e3ff;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

.profile-name {
    font-weight: bolder;
    font-size: 1.5rem;
    color: #5664f5;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.crown-icon {
    font-size: 1.8rem;
    color: gold;
    margin-left: 8px;
}

.level-card, .stats-card, .tasks-section {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.level-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.level-title {
    color: #ffca2c;

    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

.level-badge {
    background-color: #ffca2c;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.875rem;
    color: #333;
}

.progress-custom {
    height: 12px !important;
    border-radius: 8px !important;
    background-color: #e9ecef !important;
    overflow: hidden;
}

.stats-card .stat-item {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
    
    font-size: 0.9rem;
}

.tasks-title {
    font-size: 0.9rem;
    color: #ff5733;
    margin-bottom: 10px;
    
}

.table {
    width: 100%;
    margin-bottom: 0;
}

.table th, .table td {
    padding: 8px;
    border: none;
    font-size: 0.875rem;
}

.table th { 
    color: #ff5733;
}

@media (max-width: 768px) {
    .profile-pic {
        width: 50px;
        height: 50px;
    }
    .profile-name {
        font-size: 1.25rem;
    }
    .crown-icon {
        font-size: 1.5rem;
    }
    .level-title, .tasks-title {
        font-size: 1rem;
    }
    .level-badge {
        font-size: 0.75rem;
    }
    .table th, .table td {
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .profile-pic {
        width: 40px;
        height: 40px;
    }
    .profile-name {
        font-size: 1rem;

    }
    .crown-icon {
        font-size: 1.2rem;
    }
    .level-title, .tasks-title {
        font-size: 1.1rem;
    }
    .table th, .table td {
        font-size: 0.7rem;
    }
    .level-title{
        font-size: 0.9rem;
    }
}
